{% extends "base.html" %}
{% block content %}
    <h1>Create Deal</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.run.label }} {{ form.run() }}<br>
        {{ form.type.label }} {{ form.type(size=32) }}<br>
        {{ form.datetime.label }} {{ form.datetime(size=32) }}<br>
        {{ form.price.label }} {{ form.price(size=32) }}<br>
        {{ form.commission.label }} {{ form.commission(size=32) }}<br>
        {{ form.total.label }} {{ form.total(size=32) }}<br>
        {{ form.count.label }} {{ form.count(size=32) }}<br>
        {{ form.submit() }}
    </form>
{% endblock %}
