{% extends "base.html" %}
{% block content %}
    <h1>Deals</h1>
    <a href="{{ url_for('deals.create') }}">Create new deal</a>
    <ul>
        {% for deal in deals %}
            <li>
                <a href="{{ url_for('deals.view', id=deal.id) }}">{{ deal.type }} - {{ deal.datetime }}</a>
                <a href="{{ url_for('deals.edit', id=deal.id) }}">Edit</a>
                <a href="{{ url_for('deals.delete', id=deal.id) }}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
