body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="submit"],
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"],
form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #555;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
