{% extends "base.html" %}
{% block content %}
    <h1>Create Run</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.instrument.label }} {{ form.instrument() }}<br>
        {{ form.date.label }} {{ form.date(size=10) }}<br>
        {{ form.status.label }} {{ form.status(size=32) }}<br>
        {{ form.exit_code.label }} {{ form.exit_code(size=32) }}<br>
        {{ form.last_error.label }} {{ form.last_error(size=64) }}<br>
        {{ form.total.label }} {{ form.total(size=32) }}<br>
        {{ form.depo.label }} {{ form.depo(size=32) }}<br>
        {{ form.profit.label }} {{ form.profit(size=32) }}<br>
        {{ form.data.label }} {{ form.data() }}<br>
        {{ form.config.label }} {{ form.config(size=64) }}<br>
        {{ form.start_cnt.label }} {{ form.start_cnt(size=32) }}<br>
        {{ form.end_cnt.label }} {{ form.end_cnt(size=32) }}<br>
        {{ form.candle.label }} {{ form.candle(size=32) }}<br>
        {{ form.submit() }}
    </form>
{% endblock %}
