<!doctype html>
<html lang="ru">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>
<body>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <label>
                <input type="password" name="password" placeholder="Password">
            </label>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>
