{% if not accounts %}
    <p>No runs for today</p>
{% endif %}

{% for acc in accounts %}

    {% if acc.acc_run %}
        <h2>{{ acc.account.name }},
            <span class="{{ acc.acc_run.profit|currency_class }}">
                {% if acc.acc_run.profit > 0 %}+{% endif %}{{ acc.acc_run.profit }}%</span
            >,
            <span class="{{ acc.acc_run.status|status_class }}">
                {{ acc.acc_run.get_status_title() }}
            </span>
        </h2>
        <div class="card-body">
            <p class="card-text">
                <b>{{ acc.balance|currency }}</b>
                (<i>open</i> {{ acc.acc_run.open|currency }} <i>close</i> {{ acc.acc_run.close|currency }}
                <i>low</i> {{ acc.acc_run.low|currency }} <i>high</i> {{ acc.acc_run.high|currency }}),
                conf |u{{ acc.config.stop_up_p }} d{{ acc.config.stop_down_p }}|,
                (<span class="{{ acc.account.profit_n_last_week|currency_class }}"
                    >w{% if acc.account.profit_n_last_week > 0 %}+{% endif %}{{ acc.account.profit_n_last_week }}%</span
                >,
                <span class="{{ acc.account.profit_n_last_month|currency_class }}">
                    m{% if acc.account.profit_n_last_month > 0 %}+{% endif %}{{ acc.account.profit_n_last_month }}%</span
                >,
                <span class="{{ acc.account.profit_n_all_time|currency_class }}">
                    a{% if acc.account.profit_n_all_time > 0 %}+{% endif %}{{ acc.account.profit_n_all_time }}%</span
                >)

            </p>
        </div>
    {% else %}
    <h2>{{ acc.account.name }}</h2>
        <div class="card-body">
            <p class="card-text">
                Balance: <b>{{ acc.balance|currency }}</b> rub
            </p>
        </div>
    {% endif %}

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Config</th>
                <th>Status</th>
                <th>Profit</th>
                <th>Depo</th>
                <th>StartCnt</th>
                <th>EndCnt</th>
                <th>Data</th>
                <th>Errs</th>
                <th>OpCnt</th>
                <th>UpdAt</th>
            </tr>
        </thead>
        <tbody id="run-table-body">
            {% for run in acc.runs %}
                <tr>
                    <td>
                        {{ run.config }}<br />

                        (<span class="{{ run.instrument_rel.profit_n_last_week|currency_class }}"
                            >w{% if run.instrument_rel.profit_n_last_week > 0 %}+{% endif %}{{ run.instrument_rel.profit_n_last_week }}%</span
                        >,
                        <span class="{{ run.instrument_rel.profit_n_last_month|currency_class }}">
                            m{% if run.instrument_rel.profit_n_last_month > 0 %}+{% endif %}{{ run.instrument_rel.profit_n_last_month }}%</span
                        >,
                        <span class="{{ run.instrument_rel.profit_n_all_time|currency_class }}">
                            a{% if run.instrument_rel.profit_n_all_time > 0 %}+{% endif %}{{ run.instrument_rel.profit_n_all_time }}%</span
                        >)
                    </td>
                    <td class="{{ run.status|status_class }}">
                        {{ run.get_status_title() }}
                    </td>
                    <td class="{{ run.total|currency_class }}">
                        {{ run.total }} ({{ run.profit }}%)
                    </td>
                    <td>{{ run.depo|currency }}</td>
                    <td>{{ run.start_cnt }}</td>
                    <td>{{ run.end_cnt }}</td>
                    <td>{{ run.data }}<br />{{ run.instrument_data }}</td>
                    <td title="{{ run.last_error }}">{{ run.error_cnt }}</td>
                    <td>{{ run.operations_cnt }}</td>
                    <td>{{ run.updated_at|time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
